body { 
    margin:0;
    padding:0;
    background: url(/images/IMG_7528-1024x769.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }