{% extends "base.html.twig" %}

{% block body %}
	<article class="row align-items-start">
		<h2>{{ evenement.title }}</h2>
		<div class="metadata">Ecrit le
			{{ evenement.createdAt | date('d/m/Y à H:i') }}			
		</div>
		<div class="content">
			<img src="{{ evenement.image }}" alt="">
			<p>{{ evenement.content }}</p>
		</div>
	</article>
{% endblock %}
