{% extends "base.html.twig" %}

{% block body %}
	<article class="row align-items-start">
		<h2>Titre de l'évènement</h2>
		<div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
		<div class="content">
			<img src="http://placehold.it/350x150" alt="">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic facilis, sit inventore animi repellendus.</p>
			<p>Doloribus temporibus quam nesciunt reprehenderit aliquam fugiat minima sequi nobis explicabo eaque! Nobis, ea illum.</p>
			<hr>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio facilis exercitationem blanditiis culpa vero consectetur eaque recusandae, sunt veniam, voluptates tempora, corrupti sit neque adipisci repellat delectus. Quae iste consequatur assumenda sed ullam eligendi quas. Sapiente, qui. Ad, sunt facere accusantium neque modi nostrum perspiciatis voluptatibus minus in laboriosam eius.</p>
			<p>Distinctio facere sequi dignissimos commodi sunt voluptatibus. Dicta quaerat ad eius, accusantium modi ab at velit deserunt sequi pariatur, molestias doloribus maxime minima distinctio aperiam odit, quo ex dignissimos. Vitae nulla illum ducimus, incidunt debitis vero sint quis repellat quia nobis libero tenetur dolorum sunt sapiente quo expedita ullam ad.</p>
		</div>
	</article>
{% endblock %}
