{% extends 'base.html.twig' %}

{% block title %}Histoire du village
{% endblock %}

{% block body %}

	<div class="container">
		<div class="page-content-inner">
			<h1 style="text-align: justify;">
				<strong>Des origines de Saizerais à l’aube du XXe siècle [Samuel
					                Germain]</strong>
			</h1>
			<h2 style="text-align: justify;">
				<strong>Introduction.</strong>
			</h2>
			<p style="text-align: justify;">Il n’est pas d’humble village qui n’ait son patrimoine de souvenirs, écrivait
				            René
				            Perrout en 1911 en présentant aux lecteurs l’histoire de Mattaincourt que venait d’écrire Fourier Bonnard.
				            Cette
				            phrase me revint à la mémoire au moment où j’acceptai, à la demande de M. l’abbé Noisette, ancien aumônier
				            du
				            Collège de Lunéville et curé de Saizerais, d’écrire ces quelques pages pour le centenaire de l’ouverture du
				            culte
				            dans sa « grande église ».</p>
			<p style="text-align: justify;">Ce n’est pas un travail de spécialiste d’histoire ou d’archéologie – je ne suis
				            ni l’un
				            ni l’autre – que j’offre ainsi au public, mais tout simplement un récit, basé sur des documents sûrs puisés
				            chez les
				            meilleurs auteurs et dans les archives départementales et communales, récit dont le but est de retracer, a
				            l’intention de ses habitants et de ses visiteurs, les grandes lignes de la vie d’un village lorrain bien
				            attachant,
				            à plus d’un point de vue, en raison de sa situation même, à égale distance de la forteresse de Liverdun, qui
				            rappelle les évêques de Toul et de Scarponne la Romaine et presque au centre de la grande boucle de la
				            Moselle,
				            rendue fameuse par la trinité féodale dont parle Henri Lepage, constituée par les célèbres châteaux des ducs
				            de
				            Lorraine à Frouard, des comtes de Bar à l’Avant-Garde et des évêques de Metz à Condé (Custines).</p>
			<p style="text-align: justify;">Quelle évocation d’histoire lorraine!</p>
			<h2 style="text-align: justify;">
				<strong>La formation du village.</strong>
			</h2>
			<p style="text-align: justify;">Nous venons de vous présenter Saizerais; nous aurions dû écrire les
				            Saizerais,
				            suivant la forme ancienne. Et, pour situer les deux villages ouvrons la Description de la Lorraine et du
				            Barrois de
				            Durival historiographe du XVIIIe siècle: nous y lisons :</p>
			<p style="text-align: justify;">
				<em>« Saizerais St Amand, village à trois lieues et demie au nord-ouest de Nancy
					                et à
					                deux lieues et demie de Pont-à-Mousson. L’église est annexe de celle de Saizerais Saint-Georges, au
					                diocèse de
					                Toul, et a pour patron saint Amand.</em>
			</p>
			<p style="text-align: justify;">
				<em>Saizerais Saint-Georges (Caesaris arces), village à un quart de lieue à
					                droite de la
					                chaussée de Nancy à Saint-Mihiel. L’église est paroissiale, au diocèse de Toul, et a pour patron saint
					                Georges;
					                elle a pour annexe Saint-Amand qui est à gauche de la chaussée. Un peu plus loin, aux Quatre-Vents, près
					                de
					                Rosières-en-Haye, cette route est croisée par celle de Toul à Metz. Les Saizerais ne sont qu’une
					                communauté et
					                le maire se prend alternativement dans l’un et dans l’autre. La cense de Saint-Paul en dépend : elle est
					                entre
					                Saint-Amand et Liverdun ».</em>
			</p>
			<h2 style="text-align: justify;">
				<strong>Les origines du nom.</strong>
			</h2>
			<p style="text-align: justify;">Le nom latin de Caesaris arces donné par Durival a fait penser qu’un camp
				            romain, ou
				            tout au moins de petits postes fortifiés, auraient existé sur les hauteurs qui dominent Saizerais, à
				            proximité de la
				            voie antique de Toul à Scarpone, qui n’était elle même qu’un tronçon de la voie consulaire de Lyon à Trèves.
			</p>
			<p style="text-align: justify;">Henri Lepage, après avoir admis cette hypothèse dans saStatistique de la
				            Meurthe,
				            ouvrage du XIXe siècle, la discute ensuite, non sans souligner toutefois, avec l’archéologue Beaulieu, qu’en
				            1760,
				            on a trouvé, sur le bord de la voie romaine, à l’extrémité ouest du territoire de Saizerais vers le ban de
				            Rogéville, deux statuettes du dieu Mercure, l’une en argent, l’autre en bronze, et une pierre gravée au nom
				            de
				            PUBLIVS SEVERVS, inscription de borne ou fragment de légende monumentale évoquant probablement un empereur
				            du IIIe
				            siècle.</p>
			<h2 style="text-align: justify;">
				<strong>Une origine romaine.</strong>
			</h2>
			<p style="text-align: justify;">Saizerais peut donc très bien avoir une origine romaine, car, selon l’érudit
				            Edouard
				            Salin, il appartient à ces régions de la Gaule Belgique qui furent très peuplées tant que dura l’empire et.
				            sa
				            situation pouvait être privilégiée puisque de nombreuses villas ont été signalées au voisinage de la grande
				            voie de
				            Lyon à Trêves et que les deux seules localités de la région qui figurent dans l’itinéraire d’Antonin et sur
				            la table
				            de Peutinger sont précisément Toul et Scarpone, reliées par la route qui passait sur le territoire de
				            Saizerais…</p>
			<p style="text-align: justify;">Quoi qu’il en soit, c’est seulement en 1188, dans une charte de l’évêque de
				            Toul, Pierre
				            de Brixey, au sujet de la collégiale de Liverdun, qu’il est question pour la première fois des deux
				            Saizerais (de
				            utroque Sasireis) et c’est de la section Saint-Georges qu’il s’agirait déjà en 965, sous la dénomination
				            Sasiriacum,
				            dans un diplôme de l’empereur Othon au sujet de la confirmation de la fondation de l’abbaye de
				            Bouxières-aux-Dames,
				            établie vers le milieu du Xe siècle par saint Gauzelin, 32e évêque de Toul, sur les ruines d’un ancien
				            oratoire
				            dédié à la Vierge.</p>
			<p style="text-align: justify;">Il est question aussi de saint Amand au Xe siècle puisqu’en 923 son église est
				            citée
				            sous le nom d’ecclesia in honore sancti Amandi in villa Sasiriaca.</p>
			<p style="text-align: justify;">Saint Georges (Georgius) est le fameux martyr d’Asie Mineure, sous Dioclétien,
				            très
				            honoré en Lorraine à partir du IIIe siècle et dont la fête est le 23 avril.Quant à saint Amand {Amandus),
				            missionnaire en Austrasie et dans les Gaules, apôtre des Flandres et évêque de Maëstricht, il vécut de 589 à
				            684.
				            C’est lui qui baptisa saint Sigisbert, si connu dans notre diocèse et patron de la ville de Nancy. La fête
				            de saint
				            Arnaud tombe le 6 février.</p>
			<h2 style="text-align: justify;">
				<strong>Saizerais domaine de l’Avant-Garde.</strong>
			</h2>
			<p style="text-align: justify;">Il est parlé de Saizerais à partir du XIIe siècle dans divers titres concernant
				            des
				            bénéficiaires. C’est ainsi qu’en 1180 Pierre de Brixey y possède des pâturages (paturas de Sasera). En 1305,
				            un
				            nommé Simon de Valmeis vend au comte de Bar, Edouard Ier, tout ce qu’il possède « ès deux Saizerais » et
				            c’est ainsi
				            qu’en 1365, Robert, qui a pris le titre de duc de Bar en 1354, devient seigneur principal de Saizerais dont
				            la
				            communauté va dépendre pour des siècles du fameux domaine de l’Avant-Garde.</p>
			<p style="text-align: justify;">L’Avant-Garde était une forteresse du comte de Bar élevée sur la hauteur qui
				            domine
				            Pompey, qui s’opposait au château de Condé (Custines) bâti par l’évêque de Metz et à celui de Frouard qui
				            appartenait au duc de Lorraine. L’Avant-Garde devint définitivement lorrain par le mariage de René d’Anjou,
				            arrière-petit-fils de Robert, avec Isabelle, fille du duc Charles II et différents seigneurs s’y
				            succédèrent. entre
				            autres le célèbre Louis de Lorraine, prince de Phalsbourg, époux de la belle et altière Henriette de
				            Lorraine, sœur
				            du duc Charles IV. La forteresse fut démolie par Louis XIII en 1636 et il n’en reste plus que des pans de
				            murs que
				            le voyageur distingue à peine à travers la végétation qui les recouvre, mais la prévôté de l’Avant- Garde
				            subsista
				            jusqu’en 1751.</p>
			<h2 style="text-align: justify;">&nbsp;<strong>Gros Saizerais et Petit Saizerais.</strong>
			</h2>
			<p style="text-align: justify;">À partir du XIVe siècle on trouve couramment la mention : « Les grande et petite
				            Saizerais ». Aujourd’hui encore, on dit « le gros Saizerais » pour Saint-Amand, et « le petit Saizerais »
				            pour
				            Saint-Georges.</p>
			<p style="text-align: justify;">Mais la communauté est le plus souvent désignée sous le nom unique de Saizerais,
				            en
				            particulier dans les comptes du Receveur de l’Avant-Garde.C’est dans ces comptes qu’il est fait mention en
				            1501 du
				            chemin des Pèlerins allant à la Croix de Saizerais.</p>
			<p style="text-align: justify;">Ces vocables, complètement ignorés aujourd’hui, peuvent se rapporter à saint
				            Euchaire.Saint Euchaire aurait été décapité en 362 au confluent de la Meurthe et de la Moselle, dans les
				            environs de
				            Pompey. Après son martyre, le saint aurait pris dans ses mains sa tête ensanglantée, aurait couvert quelques
				            kilomètres, et se serait affaissé aux approches de Liverdun, où il fut enseveli. Quelle que soit la valeur
				            de la
				            légende, il est certain que saint Euchaire était honoré comme martyr à Pompey dès le haut Moyen Age et que
				            son corps
				            se trouve à Liverdun, dans l’église collégiale; depuis le XIIe siècle.</p>
			<p style="text-align: justify;">On voit encore, sur le chemin de Liverdun à Saizerais, une grande croix de
				            pierre
				            portant une sculpture représentant d’un côté un homme à cheval semblant porter sa tête sur sa poitrine, et
				            de
				            l’autre le Christ entre les deux larrons. D’après Henri Lepage, elle daterait de 1289 : on l’appelle la
				            Croix de
				            Saint-Euchaire. C’est vraisemblablement d’elle qu’il s’agit en 1501 sous le nom de Croix de Saizerais à
				            laquelle on
				            se rendait par la route de Saint-Amand à Liverdun, appelée alors chemin des Pèlerins.</p>
			<h2 style="text-align: justify;">
				<strong>Le vin de Saizerais.</strong>
			</h2>
			<p style="text-align: justify;">Les autres pièces antérieures aux guerres du XVIIe siècle se rapportent aux
				            terres, aux
				            échanges entre seigneurs, aux taxes diverses. Ainsi, en 1611, il est question de la cense de Saint-Paul sur
				            le
				            chemin de Liverdun. Cette cense appartenait à Louis de Guise, baron d’Ancerville, le futur prince de
				            Phalsbourg.
				            Elle était située à 2 kilomètres environ de Saint-Amand et ne disparut, selon l’archéologue Olry, que vers
				            1850. Ses
				            pierres furent utilisées pour bâtir une ferme en bordure de la route nationale.</p>
			<p style="text-align: justify;">Le prince de Phalsbourg jouissait, en 1627, de 12 francs de rente sur les
				            habitants de
				            Saizerais pour les 480 arpents de terres qu’il leur louait. Il possédait aussi des forêts sur le territoire,
				            et en
				            1636, ses officiers – remarque curieuse – ordonnent une amende contre des habitants «&nbsp;trouvés paiselant
				            dans
				            les bois&nbsp;», c’est à dire coupant des arbustes pour en faire des «&nbsp;paisseaux&nbsp;» pour leur
				            vignes. Le
				            vin de Saizerais était d’ailleurs réputé…</p>
			<h2 style="text-align: justify;">
				<strong>Les ravages de la peste et de la guerre.</strong>
			</h2>
			<p style="text-align: justify;">Mais voici la fin du premier tiers du XVIIe siècle et avec elle le malheur des
				            guerres.
				            Après de mauvaises récoltes en 1628 et 1629, la peste cause des ravages en 1630 et 1631 et jette la panique
				            parmi
				            les habitants qui ne trouvent de consolation que dans une dévotion extraordinaire à Saint Roch, qui guérit
				            tant de
				            pestiférés au XIIIe siècle. Le danger passé, le saint est presque oublié : à défaut d’église, depuis la
				            disparition
				            de celle de Nancy à la Révolution, on ne trouve dans le diocèse que quelques chapelles dédiées à saint Roch…
			</p>
			<p style="text-align: justify;">A partir de 1632, la Lorraine est envahie par les soldats français que viendront
				            rejoindre, en 1635, les Suédois, de triste mémoire. Le blé est réquisitionné, les localités écrasées de
				            lourdes
				            impositions&nbsp;; nos villages dépeuplés souffrent des malheurs de la guerre. A Saizerais les deux hameaux
				            furent
				            ruinés et inhabités pendant près de dix ans, de 1639 à 1649. En 1639, le Receveur de l’Avant-Garde ne
				            prélève plus
				            rien « à cause qu’il n’y a plus que 4 ou 5 personnes et que les terres sont en friches ». Pendant toute
				            cette
				            douloureuse période, la Lorraine dut beaucoup à la charité de saint Vincent de Paul. S’en souvient-on assez
				            ?</p>
			<p style="text-align: justify;">Pour comble de malheur, alors que les réfugiés rentraient et remettaient les
				            terres en
				            état, le Receveur note en 1649 que « les deux villages ont été de nouveau ruinés par l’armée de M. d’Erlac
				            qui a
				            séjourné ès dits lieux» La paix signée, en 1648, en Westphalie entre la France et l’Allemagne fut en effet
				            la cause
				            de nouveaux maux pour la Lorraine. L’armée française, venant des rives du Rhin, vécut un certain temps sur
				            le pays.
			</p>
			<h2 style="text-align: justify;">
				<strong>La paix retrouvée.</strong>
			</h2>
			<p style="text-align: justify;">Mais tout a une fin : le traité de Ryswick de 1697 rétablissait Léopold dans les
				            duchés,
				            ouvrant une période de paix et de prospérité.</p>
			<p style="text-align: justify;">Les deux villages formaient, au début du XVIIIe siècle, une communauté composée
				            d’environ 50 ménages, dont 22 à Saint-Georges, et 28 à Saint-Amand.</p>
			<p style="text-align: justify;">Saizerais dépendait toujours de la prévôté de l’Avant-Garde dont les officiers
				            choisissaient le maire alternativement dans chaque hameau. Le duc Léopold abandonna des fractions de
				            seigneurie à
				            des personnages dont le nom revient souvent dans les archives, comme Charles Parisot, conseiller en la
				            chambre des
				            Comptes, le chevalier de Tillon, etc…</p>
			<p style="text-align: justify;">Une déclaration des habitants faite en 1738 dit que la communauté possédait
				            environ 1
				            800 arpents de bois, 300 arpents de terres et 90 de pâquis (l’arpent de Saizerais valait un jour et demi de
				            Nancy,
				            soit 30 ares environ).</p>
			<p style="text-align: justify;">La dîme se payait à l’onzième, soit une gerbe tous les 2 trézeauxqui étaient
				            alternativement de 5 et 6 gerbes. C’est le chapitre de Liverdun qui tirait les dîmes de Saint-Amand, et les
				            chanoinesses de Bouxières celles de Saint-Georges.</p>
			<h2 style="text-align: justify;">
				<strong>Les deux églises.</strong>
			</h2>
			<p style="text-align: justify;">Dès 1146, l’église Saint-Georges est indiquée comme l’église-mère des Saizerais,
				            Saint-Amand, quoique signalée plus tôt, étant regardée comme annexe. « Ce qui prouve la primauté de
				            Saint-Georges,
				            dit une pièce de la fin du XVIIe siècle, c’est que le curé y réside et que sa maison a une origine très
				            reculée. »
				            Un titre de 1657 signale des réparations à la toiture de l’église Saint-Georges «qui était toute ruinée
				            par&nbsp;
				            les guerres ».</p>
			<p style="text-align: justify;">La maison de cure fut remaniée en 1703 et 1750, comme en temoignent encore
				            maintenant
				            les marques extérieures du XVIIIe siècle et la remarquable charpente tirée du bois délivré en 1744 par la
				            gruerie de
				            l’Avant-Garde.</p>
			<p style="text-align: justify;">Le patronage de la cure appartenait au chapitre de Liverdun qui y déléguait un
				            chanoine.
				            Le chapitre fournissait les hosties et le vin de messe tiré d’une vigne appartenant à la collégiale. De même
				            le
				            revenu d’un canton de terre dit « de la lampe&nbsp;» servait à acheter l’huile de la lampe des deux églises.
				            Les
				            habitants fournissaient ce qui était nécessaire au culte, mais étaient aidés, soit par les chanoines de
				            Liverdun (en
				            1718 ils achètent un missel pour 12 livres, soit par les chanoinesses de Bouxières (chasubles de soie
				            achetées en
				            1773).</p>
			<p style="text-align: justify;">Depuis la suppression du chapitre de Liverdun au début du XVIIIe siècle, il n’y
				            eut que
				            trois curés jusqu’à la Révolution : MM. Pabouillot, Masson et Bruant.</p>
			<h2 style="text-align: justify;">
				<strong>L’église Saint George.</strong>
			</h2>
			<p style="text-align: justify;">Elle était située presque à l’extrémité du hameau, dans l’angle formé par le
				            pâté de
				            maisons qui touche an chemin de Pont-à-Mousson et par la maison de cure. M Boulangé,&nbsp; instituteur, dans
				            sa
				            notice de 1888, dit qu’elle était de style roman. C’est vraisemblable. D’après le seul plan à petite échelle
				            qui
				            nous reste, on peut dire qu’elle était à nef unique, sans transept, à abside à fond plat terminée par la
				            sacristie.
				            La tour était engagée en partie dans la nef. Un document de 1850 dit qu’elle ne contenait que 120 places et
				            qu’elle
				            avait été modifiée et réparée plusieurs fois. Le cimetière était autour de l’église.</p>
			<p style="text-align: justify;">D’après la tradition populaire, c’est à l’église Saint Georges que se trouvait
				            la belle
				            armoire eucharistique qui a été rapportée dans l’église actuelle, dans la chapelle des fonts, mais l’oculus
				            extérieur à disparu.</p>
			<p style="text-align: justify;">Les anciens disaient de la colombe qui surmonte l’encadrement gothique «&nbsp;on
				            dirait
				            une chavotte&nbsp;». D’où le nom de «&nbsp;chavottes&nbsp;» donné autrefois aux gens du petit Saizerais.</p>
			<h2 style="text-align: justify;">
				<strong>L’église Saint Amand.</strong>
			</h2>
			<p style="text-align: justify;">Elle se trouvait à 80 mètres environ à gauche de la route de&nbsp; Nancy à
				            Saint-Mihiel
				            dans l’espace compris entre les prolongements des deux chemins qui descendent de Saint-Georges. Une relation
				            de
				            1850, émanant du vicaire général Gridel, nous apprend que c’était « une église ancienne, de style ogival,
				            d’un fort
				            bon goût et d’une grande solidité ». Un autre document de la même année, dû à M. Mangeot, architecte à Toul,
				            nous
				            dit qu’elle contenait 300 places et qu’on lui a fait subir vers 1820 un allongement du chœur et un
				            élargissement
				            résultant de la construction de deux nefs collatérales. La tour était « dans œuvre ». Le cimetière était
				            également
				            autour de l’église.</p>
			<p style="text-align: justify;">Toutes les « hautes solennités » (première communion, confirmation) écrivait le
				            curé de
				            Saizerais en1853, se faisaient à l’église Saint-Amand, qui était la plus grande. Cependant le 20 juin 1741,
				            M.
				            Masson relate la confirmation à Saint-Georges par Mgr Bégon.</p>
			<p style="text-align: justify;">Parmi les confirmants, on lit les noms de Claude Geoffroy, Charles Toussaint,
				            Sébastien
				            Crabouillet, Joseph Doyotte, Barbe Gaudiol, etc…</p>
			<p style="text-align: justify;">Mais devant l’accroissement de la population au début du XIXe siècle, c’est
				            l’église St
				            Amand qui fut utilisée pour les cérémonies. C’est d’elle que provient vraisemblablement le magnifique
				            bas-relief –
				            qui pourrait être un ancien retable d’autel – représentant les douze apôtres avec le couronnement de la
				            Vierge au
				            milieu, et qui a été heureusement sauvegardé et transporté dans l’église actuelle&nbsp;; c’est dommage qu’il
				            est
				            caché derrière les colonnes inférieures qui soutiennent l’autel de la Vierge, dans le bras du transept, côté
				            Evangile.</p>
			<h2 style="text-align: justify;">
				<strong>Une nouvelle église.</strong>
			</h2>
			<p style="text-align: justify;">En 1844 déjà, puis en 1849 le conseil municipal émit le vœu de remplacer les
				            deux
				            anciennes églises par une église plus grande située entre les deux Saizerais. Le 2 mars 1850, M. Mangeot.
				            saisi du
				            projet, présente un rapport favorable à la construction d’une nouvelle et termine ainsi :</p>
			<blockquote>
				<p>
					<em>« Les deux sections ont les mêmes intérêts et les mêmes droits. Jusqu’à présent la plus populeuse a
						                    semblé
						                    vouloir dominer la plus faible et cet état de choses se perpétuera tant qu’il aura deux clochers.
						                    Une église
						                    unique établie entre les deux villages aura pour résultat d’unir les deux localités, d’effacer les
						                    dissentiments qui existent entre elles, et de permettre au prêtre desservant de donner tout&nbsp;
						                    son temps
						                    à ses paroissiens réunis… Un nouveau presbytère à proximité de l’église projetée, et à pareille
						                    distance des
						                    deux villages, sera aussi construit. »</em>
				</p>
			</blockquote>
			<p style="text-align: justify;">Mais quelques jours après une lettre du vicaire général Gridel au Préfet de la
				            Meurthe
				            donne un autre son de cloche : « Nous croyons, écrit-il, qu’il vaut mieux conserver les deux églises en
				            raison du
				            double intérêt de l’art et de la religion. » Après avoir rappelé l’ancienneté de ces églises, il ajoute: «
				            Ces deux
				            églises sont placées au centre des deux fractions de la commune et les fidèles ont la plus grande facilité
				            de s’y
				            rendre à toute heure et en tout temps. Si on les détruit pour en bâtir une nouvelle entre les deux Saizerais
				            les
				            habitants s’en trouveront éloignés de près d’un kilomètre et ne s’y rendront plus aussi facilement.&nbsp;»
			</p>
			<p style="text-align: justify;">De son côté le curé de Saizerais, tout en regrettant &nbsp;« de voir détruire la
				            vieille
				            et respectable église Saint-Amand », demande, si le projet de construction d’une église unique est réalisé,
				            que le
				            style ogival soit adopté car, écrit-il, « nous ne pouvons nous décider à voir nos vieilles voûtes consacrées
				            par
				            l’âge, le temps et la piété de nos pères, remplacées par un mesquin et chétif lambris, encore moins par un
				            plafond »
				            et il préconise « une belle église ogivale unique et centrale. »</p>
			<h2 style="text-align: justify;">
				<strong>La construction.</strong>
			</h2>
			<p style="text-align: justify;">C’est précisément ce qui sera réalisé. Le 1er novembre 1853, M. Mangeot dresse
				            les plans
				            « d’une église conçue dans le style ogival tertiaire », et le 9 juin 1855, la commission des bâtiments de la
				            Préfecture accepte le projet. La construction est confiée à l’entreprise Poirson et Béker, de Dieulouard :
				            elle est
				            menée rapidement puisque l’église sera livrée au culte en 1858. Les deux anciennes églises sont démolies et
				            le
				            terrain vendu à des particuliers et pendant les travaux, la messe est dite au gros Saizerais dans la maison
				            de la
				            famille Aubry.</p>
			<p style="text-align: justify;">L’architecte Mangeot a livré une grande et belle église. Voici en quelques mots
				            ses
				            caractéristiques essentielles&nbsp;:</p>
			<p style="text-align: justify;">Une grande nef de 8 mètres de large et deux petites nefs latérales de 4 mètres
				            de large,
				            ce qui fait 16 mètres pour la largeur totale. Hauteur du clocher&nbsp;: 30 mètres. Longueur totale de
				            l’édifice&nbsp;: 36 mètres, chœur compris, sans compter la tour. Hauteur de la grande nef, du pavé à la clef
				            de
				            voûte&nbsp;: 13 mètres. Hauteur des petites nefs&nbsp;: 11 mètres 50.</p>
			<p style="text-align: justify;">La nef centrale y compris le transept peu apparent à l’intérieur a 5 travées
				            séparées
				            par de très beaux piliers palmés&nbsp;: la dernière plus longue, constitue l’avant cœur, son dernier
				            doubleau
				            servant d’arc triomphal dont les portants supportent les autels latéraux des bras du transept. Les 5 travées
				            sont à
				            croisée d’ogives avec doubleaux, une ouverture en arc brisé donnant sur les bas-côtés remplaçant les
				            formerets. On
				            retrouve ces 5 travées dans les nefs latérales également voûtées avec croisée d’ogives et doubleaux, mais
				            sans
				            formerets contre les murs, plus deux petites travées encadrant la tour qui est dans œuvre.</p>
			<p style="text-align: justify;">Le cœur a une travée identique à celles de la nef centrale et une abside
				            polygonale
				            impaire a 5 pans séparés sous les voûtes par 6 nervures se réunissant à une clef axiale.</p>
			<p style="text-align: justify;">&nbsp;Le portail gothique est surmonté d’une tribune voûtée avec croisée
				            d’ogives et
				            large clef ouverte, et éclairée par une très belle rose dont les grisailles rouges prennent des tons
				            splendides au
				            soleil levant.</p>
			<p style="text-align: justify;">Une inscription gravée dans la pierre, en entrant dans 1’église, a droite,
				            rappelle la
				            date de la mise en service du sanctuaire :</p>
			<p style="text-align: justify;">L’an de grâce 1858. cette église a été terminée sous l’administration de M.
				            Lambert.
				            Préfet; Ch. Thomas, maire; Joseph Tonne, adjoint Ch. Boiteux étant curé. F. Mangeot. architecte; Beker et
				            Poirson.
				            entrepreneurs.</p>
			<h2 style="text-align: justify;">
				<strong>Les cloches.</strong>
			</h2>
			<p style="text-align: justify;">Le beffroi avec ses cloches provenait de l’ancienne église de Saint-Amand, mais
				            en 1864
				            la fabrique vendit les deux plus grosses cloches à M. le Curé de Bonsecours à Nancy (au prix de 3 francs le
				            kilo) et
				            décida d’en faire fondre deux plus grosses (ré3 de 1 000 kilos et mi3 de 850 kilos) par M. Perrin-Martin. de
				            Robécourt, pour qu’elles s’accordent avec la petite qui a été refondue (fa3 dièse de 650 kilos). La
				            bénédiction des
				            nouvelles cloches fut présidée en 1864 par M. le vicaire général Jambon et M. l’abbé Collin, curé de
				            Liverdun.</p>
			<p style="text-align: justify;">Voici leurs inscriptions respectives :</p>
			<p style="text-align: justify;">
				<strong>Petite</strong>
				: Fondue l’an 1864, j’ai été payée par la fabrique des
				            Saizerais
				            sous l’administration de M. Antoine Bigot, maire, de Joseph Tonne, adjoint et M. Charles Joseph Boiteux,
				            curé. J’ai
				            eu pour parrain M. Pierre Gosserez, religieux dominicain et pour marraine M&nbsp;»&nbsp;» Anne Gillet épouse
				            de M.
				            Joseph Gillet qui. m’ont donné le nom d’Anne. A Saint Nicolas de Myre.</p>
			<p style="text-align: justify;">
				<strong>Moyenne</strong>
				: Fondue l’an 1864, payée par la fabrique des Saizerais
				            sous
				            l’Administration de MM. Antoine Bigot, maire, Joseph Tonne, adjoint, Charles Joseph Boiteux, curé, j’ai eu
				            pour
				            parrain M. Constant Baillot et pour marraine Mlle Victorine Marie Bigot qui m’ont donné le nom de Victorine.
				            À Saint
				            Amand et Saint Georges.</p>
			<p style="text-align: justify;">
				<strong>Grosse</strong>
				: J’ai été fondue l’an 1864 par la fabrique des
				            Saizerais sous
				            l’administration de MM. Antoine Bigot, maire, de C. Baillot, adjoint et de Charles Joseph Boiteux, curé.
				            J’ai eu
				            pour parrain M. Armand Doyotte, curé de Royaumeix et pour marraine Mlle Marie Moitrier épouse de M. Charles
				            René qui
				            m’ont donné le nom de Marie. Fonderie de Perrin-Martin, Robécourt (Vosges) A la Reine des Vierges.</p>
			<h2 style="text-align: justify;">
				<strong>Un cadeau de Napoléon III.</strong>
			</h2>
			<p style="text-align: justify;">La même année 1864 le conseil de fabrique a fait restaurer l’armoire
				            eucharistique
				            rétablie dans la chapelle des fonts. Dans un inventaire de la même date, on signale « 5 statues anciennes à
				            la
				            chaire ». Nous n’avons pas pu les identifier.</p>
			<p style="text-align: justify;">En 1865, l’empereur Napoléon III donne à l’église un grand crucifix et deux
				            chandeliers
				            qui prendront place sur l’autel monumental édifié seulement en 1866 par J. Laurent aîné, sculpteur à Nancy.
			</p>
			<p style="text-align: justify;">Une courte inscription gravée dans la pierre et située à l’entrée de l’église à
				            gauche
				            se lit ainsi :Cette église a été consacrée sous le vocable de Saint-Amand et de Saint-Georges par Mgr
				            Charles
				            Allemand Lavigerie le 15 avril 1866.</p>
			<p style="text-align: justify;">Mais nous donnerons le texte complet, tiré du procès-verbal de la cérémonie, en
				            y
				            ajoutant la traduction :</p>
			<p style="text-align: justify;">« PAROCHIALEM HANC ECCLESIAM DEO IN HONOREM SS AMANDI ET GEORGII DD&nbsp;AERE
				            MUNICIPALI
				            ET CONTLATITIA STIPE FIDELUM A FUNDAMENTIS RECENS EXTRUCTAM CURANTE CAROLO JOSEPHO BOITEUX CURIONE FRANCISCO
				            MANGEOT
				            ARCHITECTO CAROLO THOMAS MUNICIPII PRAES R. P. D. CAROLUS MARTIALIS ALLEMAND LAVIGERIE |NANCEIENS1UM ET
				            TULLLENS1UM
				            EPISCOPUS SOLEMNNIBUS CEREMONIIS RITE CONSECRAVIT DIE XV APRILIS AN. SAL. MDCCCLXVI.</p>
			<p style="text-align: justify;">Traduction : Cette église paroissiale entièrement réédifiée par les soins de
				            Charles
				            Joseph Boiteux, curé, de François Mangeot, architecte, de Charles Thomas, maire, présentée en offrande à
				            Dieu, en
				            l’honneur de St-Amand et de St-Georges, sur le budget de la commune et avec la contribution des fidèles, a
				            été
				            rituellement consacrée en des cérémonies solennelles par notre Révérendissime Père en Dieu Charles Martial
				            Allemand
				            Lavigerie, évêque de Nancy et de Toul le 15 avril de l’an du salut 1866.</p>
			<h2 style="text-align: justify;">
				<strong>Les vitraux.</strong>
			</h2>
			<p style="text-align: justify;">Dans la travée du chœur les vitraux sont de grisaille, mais les trois vitraux de
				            l’abside sont l’œuvre du maître Gross, de Nancy. Celui du milieu est consacré aux deux patrons de la
				            paroisse :
				            Saint Amand pour le gros Saizerais et Saint Georges pour le petit. Dans celui du côté de l’Evangile on
				            trouve la
				            résurrection du fils de la veuve de Naïm et la promesse faite à Pierre d’être le Chef de l’église. Enfin,
				            côté
				            épître, nous voyons Jésus enfant dans l’atelier de Nazareth et une scène rap- pelant l’institution de la
				            Sainte
				            Eucharistie.</p>
			<p style="text-align: justify;">Dans le transept, le grand vitrail du côté de l’évangile rappelle les sacrements
				            du
				            mariage, de l’ordre et de l’eucharistie; celui du côté de l’Epître représente les trois vertus chrétiennes :
				            la foi,
				            l’espérance et la charité.</p>
			<p style="text-align: justify;">En bas de la nef, les vitraux des chapelles spécialisées qui encadrent la tour
				            sont
				            consacrés, comme il se doit, au baptême et au sacrement de pénitence.</p>
			<h2 style="text-align: justify;">
				<strong>La tempête de 1860.</strong>
			</h2>
			<p style="text-align: justify;">Pour traduire la forte impression laissée au voyageur qui découvre de loin la
				            grande et
				            belle église de Saizerais, citons seulement ces quelques traits évoqués en 1861 par les entrepreneurs
				            eux-mêmes, qui
				            ne ménagèrent ni leur temps ni leur argent pour réaliser un monument remarquable.</p>
			<p style="text-align: justify;">Dans un rapport conservé aux Archives départementales, ils rappellent les
				            paroles de Mgr
				            l’évêque de Nancy, le jour de la bénédiction en 1858, qui les félicita devant toute la paroisse « sur
				            l’ensemble du
				            travail et sur le fini des détails. »</p>
			<blockquote>
				<p>
					<em>« Non seulement l’église est belle, mais elle est solidement construite, disent-ils encore, car,
						                    située a un
						                    kilomètre des Quatre-Vents, elle a résisté à un récent et terrible ouragan qui déracina les arbres
						                    du pays
						                    et enleva les clochetons de la belle église des Trois Maisons de Nancy ».</em>
				</p>
			</blockquote>
			<p style="text-align: right;">Samuel Germain</p>

		</div>
	</div>

{% endblock %}
