{% extends 'base.html.twig' %}

{% block body %}
<img src="/images/IMG_7528-1024x769.jpg" class="img-fluid" with="auto" alt="..." style="background-size: cover;">
<h1>Accueil</h1>
{# <header class="text-center text-white " style="background: url(/images/IMG_7528-1024x769.jpg);background-size: cover;">jyed</header> #}

{% endblock %}